<div class="alert @AlertType" role="alert" style="display:@(Show ? "block" : "none")">
    @Message
</div>

@code {
    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public string AlertType { get; set; } = "alert-success";

    [Parameter]
    public bool Show { get; set; }
}
