@page "/"

<PageTitle>Vagas</PageTitle>

<h1>Lorem ipsum dolor sit amet</h1>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras blandit sit amet nunc id ultricies. Maecenas condimentum odio quis maximus feugiat. Pellentesque iaculis leo sit amet ligula laoreet, at ultricies justo dictum. Fusce nec consequat est. Maecenas maximus sagittis erat a molestie. Ut luctus posuere dui in commodo. Etiam faucibus vestibulum lectus non venenatis. Duis tempus id orci in tincidunt. Aenean enim enim, porttitor eget urna et, ullamcorper sollicitudin nisi.

