<div class="nav-menu">
    <div class="nav-menu-buttons">
        <Image Src="https://placehold.co/160x50/png" Alt="placeholder1" />
        <div class="nav-menu-button">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-menu-button">
            <NavLink class="nav-link" href="candidate-form" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Vagas
            </NavLink>
        </div>
    </div>
    <div>Login</div>
</div>

@code {

}